[submodule "wiki"]
	path = wiki
	url = git@github.com:sogeuni/wiki.git
[submodule "gollum"]
	path = gollum
	url = git@github.com:sogeuni/gollum.git
[submodule "gollum-lib"]
	path = gollum-lib
	url = git@github.com:sogeuni/gollum-lib.git
